body {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 15%, rgba(255,241,198,1) 75%);
}

.sketchbox {
    display: flex;
    max-width: 600px;
    max-height: 600px;
    flex-wrap: wrap;
}

.main-body {
    display:flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
}

div {

    justify-content: center;
    align-items: center;
}

.tools,
.colors {
    display:flex;
    justify-content: center;
}

.colorRed {
    background-color: #bd1d1dbe;
}

.colorGreen {
    background-color: #1dbd38b0;
}

.colorBlue {
    background-color: #0025cab4;
}

.tools {
    margin: 35px;
    gap: 10px;
}

.tools button,
button.colorCustom {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(148,187,233,1) 100%);
}

.colors button {
    flex: 1;
    max-width: 150px;
    margin: 5px;
}

button.colorCustom {
    max-width: 200px;
}

.random {
    background: radial-gradient(circle, violet, indigo, blue, green, yellow, orange, red);

        color: white;
}

.header {
    margin-top: 15px;
    display:flex;
    justify-content: center;
}

footer {
    display:flex;
    justify-content: center;
    margin-top: 100px;
}